:80 {
    @api {
        path /api/*
    }
    reverse_proxy @api backend:8000

    @notApi {
        not path /api/*
    }
    root * /usr/share/caddy

    handle @notApi {
        try_files {path} /index.html
        file_server
    }

    log {
        output stdout
    }
}
